/backend/HELP.md
/backend/.gradle
/backend/build/
!/backend/gradle/wrapper/gradle-wrapper.jar
!/backend/**/src/main/**/build/
!/backend/**/src/test/**/build/

### STS ###
/backend/apt_generated
/backend/classpath
/backend/factorypath
/backend/project
/backend/settings
/backend/springBeans
/backend/sts4-cache
/backend/bin/
!/backend/**/src/main/**/bin/
!/backend/**/src/test/**/bin/

### sample ###
/backend/*.xlsx
/backend/large_dataset_*.xlsx

### IntelliJ IDEA ###
/backend/.idea
/backend/*.iws
/backend/*.iml
/backend/*.ipr
/backend/out/
!/backend/**/src/main/**/out/
!/backend/**/src/test/**/out/

# Log files
/backend/*.log

# Environment
/backend/.env
/backend/application-local.yml
/backend/application-secret.yml

### NetBeans ###
/nbproject/private/
/nbbuild/
/dist/
/nbdist/
/.nb-gradle/

### VS Code ###
/backend/.vscode/
/backend/sample/
/history/
/.idea/
/Finance Tool AWS 인프라 정보.txt
/(LG CNS) 계정원장 분류 Tool Web 전환 계획.pptx
/backend/.gradle/
/markdown/*
