/* frontend/src/components/upload/PartitionDialog.module.css */

.dialogTitle {
    font-weight: bold;
    background-color: #f5f5f5;
    border-bottom: 1px solid #ddd;
}

.infoAlert {
    margin-bottom: 1rem;
}

.accountName {
    font-weight: bold;
}

.approveButton {
    background-color: limegreen !important;
}
