/* frontend/src/components/upload/SessionListSection.module.css */

.paper {
    height: 100%;
}

.header {
    background-color: steelblue;
    color: white;
    padding: 0.75rem;
}

.headerTitle {
    font-weight: bold;
    text-align: center;
}

.buttonArea {
    padding: 1rem;
    display: flex;
    gap: 0.5rem;
    border-bottom: 1px solid #ddd;
    flex-wrap: wrap;
}

.startButton {
    background-color: limegreen !important;
}

.mergeButton {
    background-color: orange !important;
}

.errorAlert {
    margin: 1rem;
}

.tableContainer {
    max-height: 500px;
}

.tableRow:nth-of-type(even) {
    background-color: aliceblue;
}

.sessionName {
    font-weight: bold;
}

.workerName {
    color: rgba(0, 0, 0, 0.6);
    display: block;
}

.emptyCell {
    padding: 2rem 0;
}