/* frontend/src/pages/upload/UploadPage.module.css */

.container {
    max-width: 1920px;
}

.contentWrapper {
    margin-top: 2rem;
    margin-bottom: 2rem;
}

.breadcrumb {
    margin-bottom: 1rem;
}

.breadcrumbLink {
    display: flex;
    align-items: center;
    cursor: pointer;
}

.breadcrumbIcon {
    margin-right: 0.5rem;
}

.errorAlert {
    margin-bottom: 1rem;
}

.header {
    padding: 1.5rem;
    margin-bottom: 1.5rem;
    background-color: #f5f5f5;
}

.headerTitle {
    font-weight: bold;
    color: darkslategray;
    margin-bottom: 0.5rem;
}

.headerDescription {
    color: rgba(0, 0, 0, 0.6);
}