/* frontend/src/components/project/CreateProjectDialog.module.css */

.contentBox {
    display: flex;
    flex-direction: column;
    gap: 1rem;
    margin-top: 0.5rem;
}

.memberInputBox {
    display: flex;
    gap: 0.5rem;
    margin-bottom: 0.5rem;
}

.fileList {
    margin-top: 0.5rem;
}